.cards {
  /*alignment and spacing for cards*/
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  width: 100%;
  column-gap: 20px;
  row-gap: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

.cards__list {
  margin: 0;
  padding: 0;
}

.cards__card {
  /*mixing the indivdual card with the grid container to match BEM requirements*/
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .cards {
    row-gap: 20px;
    padding-bottom: 20px;
  }
}
