.card {
  position: relative;
  list-style-type: none;
  cursor: pointer;
}

.card__image {
  /*setting image width & keeping it a square*/
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.card__name {
  /*aligning*/
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin: 12px 0 0 0;
}

.card__title {
  /*setting text settings*/
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  margin: 0;

  /*text overflow*/
  max-width: calc(
    100% - 15px
  ); /*using calc function to let the text wrap automatically at various sizes*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-icon {
  background: transparent url("../images/like-icon.svg");
  width: 23px;
  height: 20px;
  border: none;

  /*opacity & transition*/
  opacity: 0.4;
  transition: 0.3s ease-in-out;
  margin: 0 0 0 auto;
  padding: none;
  cursor: pointer;
}

.card__like-icon:hover {
  /*opacity & transition*/
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.card__like-icon_liked {
  background: transparent url("../images/liked-icon.svg");
  opacity: 1;
  width: 22px;
  transition: 0.3s ease-in-out;
}

.card__like-icon_liked:hover {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.card__delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
  background: transparent url("../images/delete.svg");
  transition: 0.3s ease-in-out;
}

.card__delete-icon:hover {
  background-image: url("../images/delete-hover.svg");
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 627px) {
  .card__image {
    max-width: 288px;
    max-height: 288px;
  }

  .card__name {
    max-width: 288px;
  }
}
