.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  /*text settings & colors*/
  margin: 60px auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
}
