.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: none;
  padding: 0;
}

.form__heading-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__heading {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.form__close-btn {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
}

.form__close-btn-img {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.form__close-btn-img:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.form__label {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.form__text {
  max-width: 730px;
  margin-top: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  transition: 0.3s ease-in-out;
}

.form__text::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.form__text:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  transition: 0.3s ease-in-out;
}

.form__save-btn {
  padding: 18px 58px;
  margin: 0 auto 0 0;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: 0.3s ease-in-out;
}

.form__save-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 627px) {
  .form__fieldset {
    gap: 24px;
  }

  .form__heading {
    font-size: 20px;
  }

  .form__text {
    font-size: 16px;
  }

  .form__save-btn {
    width: 100%;
  }
}
