.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page__divider {
  border-bottom: #212121b3 solid 1px;
  width: 90%;
  margin: 0 auto;
}
