.profile {
  /*general profile section layout & border*/
  width: 90%;
  border-bottom: #212121b3 solid 1px;

  display: flex;
}

.profile__image {
  /*alignment & sizing*/
  justify-self: center;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
  margin: 0 20px 20px 0;
}

.profile__text {
  /*alignment for text column*/
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.profile__title {
  /*text settings for profile name*/
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;

  /*text overflow for profile name*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__subtitle {
  /*text settings for profile desc*/
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  opacity: 0.7;

  /*text overflow for profile desc*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  cursor: pointer;

  /*aligning*/
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin: auto 0 20px 0;
  align-self: flex-start;

  /*removing button bg*/
  background-color: #00000000;
  border: none;

  /*setting text settings*/
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;

  /*opacity transitions*/
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.profile__edit-btn:hover {
  /*opacity transitions*/
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.profile__button {
  cursor: pointer;

  /*aligning button*/
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-self: end;
  margin: 0 0 20px auto;

  /*setting space within button & color*/
  padding: 18px 32px;
  height: 52px;
  background-color: #212121;

  /*setting border styles*/
  border-radius: 8px;
  border-style: none;

  /*setting text styles*/
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fcf5e5;

  /*opacity transitions*/
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.profile__button:hover {
  /*opacity transitions*/
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 627px) {
  /*mobile view - only change what will change in mobile view.*/
  /*basic adjustments for mobile such as alignment and sizing.*/
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0 auto 12px auto;
    height: 80px;
    width: 80px;
  }

  .profile__text {
    text-align: center;
    justify-self: center;
    margin: 0 auto;
  }

  .profile__title {
    margin: 0 auto 6px;
    font-size: 20px;
  }

  .profile__subtitle {
    margin: 0 auto 32px;
  }

  .profile__button {
    width: 100%;
    margin: 0 auto 20px;
  }

  .profile__edit-btn {
    margin: auto auto 20px auto;
  }
}
