.profile {
  /*general profile section layout & border*/
  display: grid;
  width: 90%;
  border-bottom: #212121b3 solid 1px;
}

.profile__image {
  /*alignment & sizing*/
  grid-area: image;
  justify-self: center;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__text {
  /*alignment for text column*/
  grid-area: text;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.profile__title {
  /*text settings for profile name*/
  margin: 0 0 12px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #212121;

  /*text overflow for profile name*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__subtitle {
  /*text settings for profile desc*/
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  opacity: 0.7;

  /*text overflow for profile desc*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit {
  /*aligning*/
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;

  /*removing button bg*/
  background-color: #00000000;
  border: none;

  /*setting text settings*/
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #212121;

  /*opacity transitions*/
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.profile__edit:hover {
  /*opacity transitions*/
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.profile__button {
  grid-area: button;

  /*aligning button*/
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-self: end;
  margin: 0 0 20px auto;

  /*setting space within button & color*/
  padding: 18px 32px;
  height: 52px;
  background-color: #212121;

  /*setting border styles*/
  border-radius: 8px;
  border-style: none;

  /*setting text styles*/
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #fcf5e5;

  /*opacity transitions*/
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.profile__button:hover {
  /*opacity transitions*/
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 630px) {
  /*tablet & desktop view changes*/
  .profile {
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "image text button";
    gap: 20px;
  }

  .profile__button {
    align-self: end;
    margin: 0 0 20px auto;
  }

  .profile__edit {
    margin: auto 0 20px 0;
    align-self: flex-start;
  }
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  /*mobile view - only change what will change in mobile view.*/
  /*basic adjustments for mobile such as alignment and sizing.*/
  .profile {
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "image"
      "text"
      "button";
  }

  .profile__image {
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__text {
    text-align: center;
    justify-self: center;
    margin: 0 0;
  }

  .profile__title {
    margin: 0 auto 6px;
    font-size: 1.2rem;
  }

  .profile__subtitle {
    margin: 0 auto 32px;
  }

  .profile__button {
    width: 100%;
    margin: 0 auto 20px;
  }

  .profile__edit {
    margin: auto 0 20px 0;
  }
}
